body, main{
    display: flex;
}
body{
    flex-direction: column;
    background: #328589;
    background: -webkit-linear-gradient(#858589, #328580, #328589); /*Safari 5.1 to 6.0*/
    background: -o-linear-gradient(#858589, #328580, #328589);/*For Opera 11.0 to 12.0*/
    background: -moz-linear-gradient(#858589, #328580, #328589); /*Firefox 3.6 to 15*/
    background: linear-gradient(#858589, #328580, #328589); /*Standard*/
/*    background-repeat: no-repeat;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
main{
    flex-direction: row;
    flex: auto;
    background: #328589FF;
}
article, aside{
    overflow-y: auto;
}
article{
    flex: 2;
}
aside{
    background: rgba(255,255,255,0.5);
    border-radius: 15px;
    flex: 1;
}
header{
    background-image: url("http:///Resources/holberton/img/header_bkg_image-small.png");
    background-repeat: repeat-x;
    border: none;
}

/*TYPOGRAPHY*/

header li, header a{
    color: #fff;
    background: rgba(10,0,20,0.2);
}
a {
    -webkit-transition:300ms ease;
    -moz-transition:300ms ease;
    -o-transition:300ms ease;
    transition: 300ms ease;
}

a:hover{
    color: #00baff;
}
p {
    line-height: 1.75em;
}
ul{
    list-style-type: none;
}
blockquote{
    background: #969696;
    border: 1px solid black;
    padding: 5px;
}
code{
    font-family: "Courier New", monospace, sans-serif;
    color: #012bc3 !important;
    background: rgba(50,50,50,0.2) !important;
}
/*Misc classes and id's in <article>*/
#flyingOctopus{
    width: 25%;
    position: relative;
}

@media (max-width: 800px) {
body.works_on_smartphone {
    background: #328589;
}

body.works_on_smartphone main {
    background: #328589;
}
}

#nothingness{
    background: rgba(0,0,0,0.0);
}

.index_styles{
    text-align: center;
    color: #fff;
}
.index_styles a,
.other_styles a{
    color: #0f0;
}
.index_styles a:hover,
.other_styles a:hover{
    color: #fff;
}

#hidden{
    display: none;
}

@keyframes slidy {
    0% { left: 0%; }
    50% { left: -100%; }
    100% { left: 0;}
}

div#slider { 
    overflow: hidden; 
}
div#slider figure img { 
    width: 100%; 
    float: left;
}
div#slider figure{
    position: relative;
    width: 200%;
    text-align: left;
    font-size: 0;
    animation: 60s slidy infinite;
}